@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

.container {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 50px 0;
}

.boxes {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.boxes .container {
  justify-content: center;
}

.box {
  padding: 0 50px;
}

.img-select {
  max-width: auto;
  max-height: auto;
  position: relative;
  cursor: pointer;
}

.img-select:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
}

.img-select:active {
  top: 2px;
}

h2,
h3 {
  color: #1f2937;
  text-align: center;
}
h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

.box p {
  color: #68717d;
  text-align: center;
}
.containbox {
  display: flex;
  justify-content: center;
}

.containbox img {
  display: block;
  padding: 10px 50px;
}

.leftbox,
.rightbox {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}
.lost {
  opacity: 0.4;
  transform: scale(0.7, 0.7);
}
